<?xml version="1.0"?>

<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- 代价地图 -->
      <rosparam file="$(find navigation)/config/jueying_mini/costmap_common_params_mini.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find navigation)/config/jueying_mini/costmap_common_params_mini.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find navigation)/config/jueying_mini/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigation)/config/jueying_mini/global_costmap_params.yaml" command="load" />
      <!-- 轨迹规划 -->
      <!-- A* -->
      <rosparam file="$(find navigation)/config/jueying_mini/global_planner_params.yaml" command="load" />
      <param name="base_global_planner" value="global_planner/GlobalPlanner" />
      <param name="planner_frequency" value="0" />
      <param name="planner_patience" value ="10" />
      <param name="max_planning_retries" value ="5" />
      <!-- 轨迹控制 -->
      <rosparam file="$(find navigation)/config/jueying_mini/teb_local_planner_params_mini.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="10" />
      <param name="controller_patience" value ="10" />
      <!-- 异常处理 -->
      <param name="recovery_behavior_enabled" value="false" />
    </node>
</launch>
