<launch>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="filter_speckles" value="true"/>
        <remap from="cloud_in" to="rslidar_points"/>

        <param name="frame_id" type="string" value="/map"/>
        <param name="resolution" value="0.1"/>
        <param name="base_frame_id" value="base_link"/>

        <param name="latch" value="false"/>

        <param name="pointcloud_min_z" value="0.3"/>
        <param name="pointcloud_max_z" value="1.0"/>
        <!--      <param name="occupancy_min_z" value="-0.5" />-->
        <!--      <param name="occupancy_max_z" value="2.0" />-->

        <param name="sensor_model/min_range" value="0.5"/>
        <!--        <param name="sensor_model/max_range" value="3.0" />-->

        <!--        <param name="filter_ground" value="true" />-->
        <!--        <param name="ground_filter/plane_distance" value="20" />-->
        <!--        <param name="ground_filter/angle" value="0.7" />-->

        <!--    ground_filter/distance-->
        <!--    ground_filter/angle-->
        <!--    ground_filter/plane_distance-->
        <!--    occupancy_[min|max]_z-->


    </node>

</launch>
