graphs {
  graph_id: 1875642181
  priority: 0

  engines {
    id: 958
    engine_name: "Mind_camera_datasets"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "path"
        value: "../../src/camera_datasets/"
      }

      items {
        name: "dataType"
        value: "Camera"
      }

      items {
        name: "data_source"
        value: "Channel-1"
      }

      items {
        name: "fps"
        value: "20"
      }

      items {
        name: "image_format"
        value: "YUV420SP"
      }

      items {
        name: "image_size"
        value: "1280x720"
      }

      items {
        name: "meanOfG"
        value: ""
      }

      items {
        name: "meanOfR"
        value: ""
      }

      items {
        name: "batch"
        value: "1"
      }

      items {
        name: "useAll"
        value: "all"
      }

      items {
        name: "randomNumber"
        value: "All"
      }

      items {
        name: "target"
        value: "OI"
      }
    }
  }

  engines {
    id: 244
    engine_name: "mask_detection_inference"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../script/yolo3_resnet18.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }
    }
  }

  engines {
    id: 601
    engine_name: "mask_detection_post_process"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "Confidence"
        value: "0.5"
      }

      items {
        name: "PresenterIp"
        value: "192.168.1.223"
      }

      items {
        name: "PresenterPort"
        value: "7006"
      }

      items {
        name: "ChannelName"
        value: "video"
      }

      items {
        name: "path"
        value: "../../src/camera_datasets/"
      }
    }
  }

  connects {
    src_engine_id: 958
    src_port_id: 0
    target_engine_id: 244
    target_port_id: 0
  }

  connects {
    src_engine_id: 244
    src_port_id: 0
    target_engine_id: 601
    target_port_id: 0
  }
}			
